---
import App from "@components/App";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Home">
	<main>
		<App></App>

	</main>
</Layout>

<style>
	main {
		max-width: 1080px;
		margin: 20px auto;
	}
</style>